@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url("/images/background_image_version_0001.avif") no-repeat center center fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-dm), sans-serif;
}
@media (max-width: 768px) {
  body {
    background-image: url("/images/mobile-background-1.avif");
  }
}

h1, h2, h3 {
  font-family: var(--font-bebas), sans-serif;
}
